* {
  /* border for debugging */
  border: 1px solid #000;
  /* keep the border inside the padding */
  box-sizing: border-box;
}

/* scroll smootly when jumping between tags */
html {
  scroll-behavior: smooth;
}

body {
  /* remove default padding and margin */
  padding: 0;
  margin: 0;

  /* specify what font to use and sizes */
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

/* center elements inside header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

/* keep the logo to top left  */
#logo {
  position: absolute;
  left: 0;
  height: 100px;
}

#wrapper {
  display: flex;
}

aside,
main {
  margin: 25px;
}

aside {
  float: left;
}

aside a {
  display: inline-block;
  /* 50 percent and 100 percent of 14px font size */
  padding: 0.5em 1em;
  text-decoration: none;
  /* a tag text in sidebar to always be black (not blue and purple) */
  color: #000;
  /* font in sidebar to be smaller then others (16px) */
  font-size: 14px;

  transition:
    background-color 0.3s,
    border-radius 0.3s;

  white-space: nowrap;
}
aside a:hover {
  background-color: #e9e9e9;
  border-radius: 1rem;
}

main {
  max-width: 850px;
  width: 100%;

  /* give space to #jump */
  margin-right: min(110px);
}

video {
  width: 100%;
}

main img {
  height: 500px;
  width: auto;
}

/* first letter of the paragraph to be the 2 times of it's default size */
main p::first-letter {
  font-size: 2em;
}

/* too have space at the start of each sentence */
main > p > span {
  margin-left: 0.5em;
}

#jump {
  position: fixed;

  right: 25px;
  /* don't go down more than footer */
  bottom: 175px;
}
#jump img {
  height: auto;
  width: 60px;
}

.footer-separator {
  width: 98%;
}

footer {
  height: 100px;

  /* display flex to center child elements */
  display: flex;
}
footer > a {
  /* center a tag with margin */
  margin: auto;
}
