/* declare values as variables */
:root {
  --background-accent: #e9e9e9;
  --darker-accent: #a9a9a9;
  --much-darker-accent: #666666;

  --header-height: 120px;
  --spacing: 25px;
}

* {
  /* for debugging layout */
  /* border: 1px solid black; */

  box-sizing: border-box; /* keep border inside the padding */
}

html {
  scroll-behavior: smooth; /* when jumping between elements using a tag */
}

body {
  /* remove default padding and margin */
  padding: 0;
  margin: 0;

  /* set custom font */
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

header {
  position: sticky; /* show header at top even when scrolling */
  top: 0; /* make sure it stays on top */
  z-index: 1000;

  /* layout for elements inside header */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 675px; /* keeps elements inside the header from bunching up */
  height: var(--header-height);

  background-color: #fff; /* dont' show what's behind */
  border-bottom: 2px solid var(--background-accent);
}
header > h1 {
  /* center header text with main tag */
  margin-left: calc(var(--header-height) - var(--spacing) * 2 - 25);
  font-size: 3rem;
}

#logo {
  position: absolute;
  top: var(--spacing);
  height: calc(var(--header-height) - var(--spacing) * 2);
}

/* elements with transition in one place */
#menu,
aside a,
#jump div {
  transition: all 0.3s ease;
}

#menu {
  position: absolute;
  top: 34px;
  right: var(--spacing);

  height: 30px;

  box-sizing: unset;
  padding: 10px;
  border-radius: 1em;
}
#menu:hover {
  background-color: var(--background-accent);
  cursor: pointer;
}

#links {
  position: absolute;
  top: 90px;
  right: var(--spacing);

  /* hide it by default */
  display: none;

  padding: 1rem;
  border: 4px solid var(--background-accent);
  border-radius: 1rem;

  background-color: #fff;
}
#links ul {
  margin: 0;
  padding: 0;

  list-style-type: none; /* remove bullets from ul */
}
#links a {
  color: #000;
  text-decoration: none;
}
#links a:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap; /* always keep elements in single row */

  max-width: 1104px; /* sum of aside and main outerWidth by hand */
  width: 100%;
}

aside {
  /* show aside even when scrolling */
  position: sticky;
  top: calc(var(--header-height) + var(--spacing));

  flex: 0 0; /* size of the element will not expand or shrink on resize */

  margin: var(--spacing);
  border: 4px solid var(--background-accent);
  border-radius: 1rem;
  padding: 1rem;
}
aside li {
  color: var(--darker-accent);
}
aside a {
  display: inline-block;
  white-space: nowrap; /* keep text in single-file even in smaller width */

  padding: 0.5em 1em; /* 50% and 100% of 14px font-size */

  color: #000;
  font-size: 14px; /* main font-size to 16px and others to 14px */
  text-decoration: none; /* remove under-score from a tag */
}
aside a:hover {
  background-color: var(--background-accent);
  border-radius: 1rem;
}

main {
  /* size of the element can change on resize */
  flex: 1 1 auto;

  max-width: 850px; /* keep it from getting too big */
  width: 100%; /* if not 100% width of #wrapper */

  margin: var(--spacing) 0;
  border-radius: 1rem;
  padding: var(--spacing); /* spaces between content and border */

  background-color: var(--background-accent);
}
/* video width to 100% width of parent element(main) */
main video {
  width: 100%;
}
main img {
  display: block;
  max-width: 100%;
  margin: 1em auto; /* center image */
}
main p::first-letter {
  font-size: 1.5em;
}
/* space at the start of each sentence in paragraph */
main > p > span {
  margin-left: 0.5em;
}
main hr {
  height: 4px;
  background-color: var(--much-darker-accent);
  border: none;
}

/* hide aside when browser width is less then 900px */
@media (max-width: 900px) {
  #wrapper {
    flex-direction: column;
    align-items: center;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
    margin: var(--spacing) auto;
  }
}

/* change the color for this hr only */
.video-separator {
  background-color: var(--darker-accent);
}

/* hide it since it's hard to keep it well organized when resizing */
#jump {
  position: fixed;
  bottom: 25px;
  right: 25px;

  display: none;
}
#jump div:hover {
  background-color: var(--darker-accent);
  border-radius: 1rem;
}
#jump img {
  width: 60px;
}

.footer-separator {
  height: 4px;
  width: 98%;
  background-color: var(--darker-accent);
  border: none;
  border-radius: 1rem;
}

footer {
  display: flex; /* center elements inside footer */
  flex-direction: column; /* stack elements inside footer vertically */
  justify-content: center; /* vertically */
  align-items: center; /* horizontally */

  height: 100px;
  gap: 0.5em;
}
footer > a {
  text-decoration: none; /* no blue or purple for a tag */
  color: #000; /* text color */
}
footer > a:hover {
  text-decoration: underline;
  color: blue;
}
