/* declare color kind of like a variable */
:root {
  --background-accent: #e9e9e9;
  --darker-accent: #a9a9a9;

  --header-height: 100px;
  --logo-margin: 10px;
}

* {
  /* border for debugging */
  border: 1px solid #000;
  /* keep the border inside the padding */
  box-sizing: border-box;
}

/* scroll smoothly when jumping between tags */
html {
  scroll-behavior: smooth;
}

body {
  /* remove default padding and margin */
  padding: 0;
  margin: 0;

  /* specify what font to use and sizes */
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

header {
  /* keep header at top of browser even when scrolling */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;

  /* center elements inside header */
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);

  /* border only at the bottom of the header */
  border-bottom: 2px solid var(--background-accent);
}

/* keep the logo to top left  */
#logo {
  position: absolute;
  top: var(--logo-margin);
  left: var(--logo-margin);
  height: calc((var(--header-height)) - (var(--logo-margin)) * 2);
}

#wrapper {
  display: flex;
}

aside,
main {
  margin: 25px;
}

aside {
  padding-left: 1rem;
  padding-right: 1rem;

  border: 4px solid var(--background-accent);
  border-radius: 1rem;
}

aside li {
  color: var(--darker-accent);
}

aside a {
  display: inline-block;
  /* 50 percent and 100 percent of 14px font size */
  padding: 0.5em 1em;
  text-decoration: none;
  /* a tag text in sidebar to always be black (not blue and purple) */
  color: #000;
  /* font in sidebar to be smaller than others (16px) */
  font-size: 14px;

  transition: all 0.3s ease;

  white-space: nowrap;
}
aside a:hover {
  background-color: var(--background-accent);
  border-radius: 1rem;
}

main {
  max-width: 850px;
  width: 100%;

  /* give space to #jump */
  margin-right: min(110px);

  background-color: var(--background-accent);

  padding: 25px;
  border-radius: 1rem;
}

video {
  width: 100%;
}

main img {
  display: flex;
  margin: auto;

  height: 500px;
  width: auto;
}

/* first letter of the paragraph to be the 2 times of it's default size */
main p::first-letter {
  font-size: 2em;
}

/* to have space at the start of each sentence */
main > p > span {
  margin-left: 0.5em;
}

.video-separator {
  background-color: var(--darker-accent);
}

main hr {
  height: 4px;
  background-color: #000;
  border: none;
}

#jump {
  position: absolute;
  right: 25px;
}

#jump div:hover {
  background-color: var(--darker-accent);
  border-radius: 1rem;

  transition: all 0.3s ease;
}

#jump img {
  width: 60px;
}

.footer-separator {
  height: 4px;
  width: 98%;
  background-color: var(--darker-accent);

  border: none;
  border-radius: 1rem;
}

footer {
  height: 100px;

  /* to center child elements */
  display: flex;

  /* stack vertically */
  flex-direction: column;
  /* center vertically */
  justify-content: center;
  /* center horizontally */
  align-items: center;

  gap: 0.5em;
}

footer > a {
  text-decoration: none;
}
footer > a:hover {
  text-decoration: underline;
}
